PYMESHUB_EDITION=cloud

# URL que cargará el shell desktop al compilar.
# Debe apuntar al SaaS.
PYMESHUB_REMOTE_URL=http://127.0.0.1:5000

# Updater nativo del shell cloud.
PYMESHUB_UPDATER_ACTIVE=true
